<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/stylesheets/styleIndex.css" rel="stylesheet" />
  </head>
  <% include navbar.html %>
  <body>
    <p><%= __("Welcome to") %> <%= title %></p>
    <!-- Page content-->
    <div class="container">
      <div class="text-center mt-5">
        <div class="ads-container">
          <% ads.forEach( ad => { %>
            <ul>
              <li><%= ad.name %></li>
              <li><%= ad.photo %></li>
              <li><%= ad.sell %></li>
              <li><%= ad.price %></li>
              <li><%= ad.tags %></li>
            </ul>
          <%}) %>
        </div>
      </div>
    </div>
  </body>
</html>
