<% include navbar.html %>

<section class="cta1">
  <div class="cta-content">
    <div class="container px-5">
      <h2 class="display-1 lh-1 mb-4"><%= __("Login") %></h2>

      <form method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            name="email"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            name="password"
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <div><%= error %></div>
      </form>
    </div>
  </div>
</section>
