<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/stylesheets/styles.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#"><%= title %> </a>
        <% getLocales().forEach(locale => { %>
        <a href="/change-locale/<%= locale %>"><%= locale %></a>&nbsp; <% }) %>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/"
                ><%= __("Home") %></a
              >
            </li>
            <% if(session.logedUser) { %>
            <li class="nav-item">
              <a class="nav-link" href="/private"><%= __("Private") %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout"><%= __("Logout") %></a>
            </li>
            <% } else { %>
            <li class="nav-item">
              <a class="nav-link" id="navbarLogin" href="/login"
                ><%= __("Login") %></a
              >
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
