<% include navbar.html %>

<section class="cta">
  <div class="cta-content">
    <div class="container px-5">
      <h2 class="text-white display-1 lh-1 mb-4">Private</h2>
    </div>
  </div>
</section>
