@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');

body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

p{
  font-size: 30px;
  font-family: hind siliguri, sans-serif;
  font-weight: bold;
  color: #00B7FF;
  text-align: center;
}
  
h1{
  font-family: hind siliguri;
  font-size: 40px;

}

.ads-container{
  margin-top: 30px;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  gap: 50px;
}

div .ads-container ul{
  padding-top: 10px;
  padding-right: 25px;
  height: 300px;
  margin-left: 180px;
  margin-top: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  border-radius: 5%;
  box-shadow: 2px 5px 4px 1px #9966CC;
  
}
li{
  
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  list-style: none;
  font-family: hind Siliguri, sans-serif;
  
}
